.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  /* flex: 1;
  position: relative; */

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.i-left-wrapper {
  padding: 30px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

.i-CTA {
  font-size: 20px;
  margin-top: 8px;
  width: 50%;
}

@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }
  /* 100% {
    transform: translateY(-200px);
  } */
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #59b256;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.bounce {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

.i-card.bg {
  position: absolute;
  top: 120px;
  left: 120px;
  /* background-color: #333; */

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(24, 24, 24, 0.384);
  backdrop-filter: blur(5px);
}

.i-card {
  width: 75%;
  height: 75vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.i-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .i {
    flex-direction: column;
  }
  .i-CTA {
    width: 100%;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
  .i-right{
    display: none;
  }
}

@media screen and (max-width: 366px) {
  .i-title-wrapper{
    display: none;
  }
  #i-am{
    display: none;
  }
}